<div class="adventages">
  <h2 class="adventages__title title container">Преимущества лечения в Вера Дент</h2>
  <div class="adventages-content">
    <ul class="adventages-content__list container">
      <li class="adventages-content__item">
        <p class="adventages-content__text adventages-content__text-1">
          100%&#160;стерилизация стоматологических&#160;инструментов
        </p>
      </li>
      <li class="adventages-content__item">
        <p class="adventages-content__text">
          Интересы&#160;клиента превыше&#160;всего
        </p>
        <p class="adventages-content__text">
          Высококвалифицированные врачи-стоматологи
        </p>
      </li>
      <li class="adventages-content__item">
        <p class="adventages-content__text">
          Комфортная&#160;и&#160;уютная обстановка
        </p>
        <p class="adventages-content__text">
          Лечение зубов без&#160;боли&#160;и&#160;страха
        </p>
      </li>
    </ul>

    <div class="adventages-content-sta">
      <div class="adventages-content-sta__container container">
        <div class="adventages-content-sta__description">
          <h2 class="title adventages-content-sta__title" tabindex="0">Запись на&nbsp;консультацию&nbsp;&mdash; первый шаг к&nbsp;здоровой&nbsp;улыбке</h2>
          <p class="adventages-content-sta__text" tabindex="0">
            Качественное лечение начинается с
            консультации врача и тщательно подобранного плана лечения.
            В нашей клинике есть все необходимое для комплексного решения проблем.
          </p>
        </div>
        <button class="btn-reset adventages-content-sta__btn sta-btn" data-graph-path="sta" aria-label="Связаться с нами">Связаться <br> с нами</button>
      </div>
    </div>
  </div>
</div>
