<head content="initial-scale=1.0, user-scalable=no, maximum-scale=1">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script type='application/ld+json'>
    {
      "@context": "http://www.schema.org",
      "@type": "Dentist",
      "name": "ВераДент",
      "url": "https://veradent-mow.tmweb.ru/",
      "logo": "/img/svg/logo.svg",
      "description": "Стоматология ВераДент, официальный сайт.💞 Полный спектр услуг в Москве: от лечения кариеса до имплантации зубов. ",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Варшавское шоссе 53, корпус 4",
        "addressLocality": "Москва",
        "addressRegion": "Москва",
        "postalCode": "115230",
        "addressCountry": "Россия"
      },
      "hasMap": "https://goo.gl/maps/5Fx8rsuX1o4vAbF9A",
      "openingHours": "Mo, Tu, We, Th, Fr 09:00-21:00 Sa 09:00-08:00 Su 09:00-20:00",
      "contactPoint": {
        "@type": "ContactPoint",
        "telephone": "+7 977 374-87-30"
      }
    }
     </script>
  <title>Вера Дент&#34;Стоматология &#34; в&#160;Москве&#160;&#8212; официальный сайт</title>
  <!-- <link rel="preload" href="../fonts/CormorantRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/Raleway-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/RalewaySemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="../fonts/RalewayBold.woff2" as="font" type="font/woff2" crossorigin> -->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js?v=1"></script>
</head>
