<div class="licenses container">
  <h2 class="licenses__title title" tabindex="0" aria-label="Наши лицензии">
    Наши лицензии
  </h2>
  <div class="licenses-swiper-container">
    <div class="licenses-swiper swiper">
      <ul class="swiper-wrapper licenses-wrapper">
        <li class="swiper-slide licenses-slide img" data-graph-path="licenses">
          <img  src="img/licenzia1.png"
          alt="Изображение 1 из трех. Лицензия Серия ЛО номер 0175616. Выдан Правительством Москвы
          ДЕПАРТАМЕНТ ЗДРАВООХРАНЕНИЯ ГОРОДА МОСКВЫ.
          ПРИЛОЖЕНИЕ номер: ло-77-01-015990, к лицензии от 26 апреля 2018 года, на осуществление Медицинской деятельности скобка открывается за исключением указанной деятельности, осуществляемой медицинскими организациями и другими организациями, входящими частную систему здравоохранения, на территории инновационного центра Сколково скобка закрывается
Выдано : Общество с ограниченной ответственностью ВераДент
адреса мест осуществления лицензируемого вида деятельности, выполняемые работы, оказываемые услуги. индекс 1 5 2 3 0, город Москва, Варшавское шоссе, дом 53, корпус 4
При оказании первичной, в том числе доврачебной, врачебной специализированной, медико-санитарной помощи организуются и выполняются следующие работы (услуги); при оказании первичной доврачебной медико-санитарной помощи в амбулаторных условиях по: сестринскому делу; при оказании первичной специализированной медико-санитарной помощи в амбулаторных условиях по: стоматологии ортопедической, терапевтической, стоматологии хирургической.
Подпись Заместитель руководителя Департамента здравоохранения города Москвы А.В. Старшинин. Печать. Приложение Является неотъемлемой частью лицензии" tabindex="0">
        </li>
        <li class="swiper-slide licenses-slide img" data-graph-path="licenses">
          <img  src="img/licenzia2.png" alt="Изображение 2 из трех. Лицензия Серия ЛО номер 0 0 2 0 6 0 3. Выдано: ПРАВИТЕЛЬСТВО МОСКВЫ. ДЕПАРТАМЕНТ ЗДРАВООХРАНЕНИЯ ГОРОДА МОСКВЫ
          Заголовок ЛИЦЕНЗИЯ номер ЛО-77-01-0 1 5 9 9 0, от 26 апреля 2018 года. На осуществление Медицинской деятельности,
          (за исключением указанной деятельности, осуществляемой медицинскими организациями и другими организациями, входящими в частную систему здравоохранения, на территории инновационного центра Сколково)
          Согласно приложению (ям) к лицензии
          Общество с ограниченной ответственностью ВераДент, ООО ВераДент
          Основной государственный номер юридического лица (индивидуального предпринимателя) (ОГРН) - 1177746681530
          Идентификационный номер налогоплательщика
          7726406726" tabindex="0">
        </li>
        <li class="swiper-slide licenses-slide img" data-graph-path="licenses">
          <img  src="img/licenzia3.png" alt=" Изображение 3 из трех.
          ФЕДЕРАЛЬНАЯ СЛУЖБА ПО НАДЗОРУ В СФЕРЕ ЗАЩИТЫ ПРАВ ПОТРЕБИТЕЛЕЙ И БЛАГОПОЛУЧИЯ ЧЕЛОВЕКА.
          Территориальный отдел Управления Федеральной службы по надзору в сфере защиты прав потребителей и благополучия человека по городу Москве в Южном административном округе города Москвы.
          САНИТАРНО-ЭПИДЕМИОЛОГИЧЕСКОЕ ЗАКЛЮЧЕНИЕ
          номер: 77.16.16.000.M.007993.12.17, от 05 декабря 2017 года.
          Настоящим санитарно-эпидемиологическим заключением удостоверяется, что производство (заявленный вид деятельности, работы, услуги) (перечислить виды деятельности (работ, услуг), для производства виды выпускаемой продукции; наименование объекта, фактический адрес):
          Здания, строения, сооружения, помещения, оборудование и иное имущество, используемые для осуществления медицинской деятельности. При оказания первичной, в том числе доврачебной, врачебной и специализированной, медико-санитарной помощи организуются
          и выполняются следующие работы (услуги): при оказвани первичной специализированной медико-санитарной помощи в амбулаторных условиях по: ортодонтия, стоматология ортопедической, стоматологии терапевтической, стоматологин хирургической;
          Стоматологическая клиника OOO ВераДент, город Москва, ЮАО, Варшавское шоссе, дом 53, корпус 4.
          Заявитель (наименование организации-заявителя, юридический адрес). Общество с ограниченной ответственностью ВераДент
          (ИНН:7726406726, ОГРН:1177746681530)
          Юридический адрес: 117387, г. Москва, ЮАО, Днепропетровская ул., д. 1, кв. 102
          СООТВЕТСТВУЕТ государственным санитарно-эпидемиологическим правилам и нормативам.
          Подпись: Главный государственный санитарный врач.
          (заместитель главного государственного санитарного врача) по Южному административному округу городу Москвы  Штифанова В.В. документ номер 2 8 1 5 0 3 8"
         tabindex="0" >
        </li>
      </ul>
    </div>

    <!-- If we need navigation buttons -->
    <div class="licenses-swiper-btns">
      <button class="btn-reset licenses-swiper-btn-prev swiper-button-prev" aria-label="предыдущий слайд"></button>
      <div class="licenses-swiper-pagination swiper-pagination"></div>
      <button class="btn-reset licenses-swiper-btn-next swiper-button-next" aria-label="следующий слайд"></button>
    </div>

  </div>
</div>

