<div id="price" class="price container">
  <h2 class="price__title title" tabindex="0">
    Услуги и стоимость
  </h2>
  <div class="price-table">
    <div class="price-table__heading">
      <div class="price-table__heading-wrapper">
        <h3 class="price-table__title semibold-title" tabindex="0" aria-label="цены на лечение зубов, цены указаны в рублях">Лечение зубов</h3>
        <h4 class="price-table__title semibold-title">Цена(руб)</h4>
      </div>
    </div>
    <table class="price-table__table">
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Консультация <span class="visually-hidden">от 1500 рублей</span>
        </td>
        <td class="price-table__item">
          от 1 500 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Лечение кариеса <span class="visually-hidden">от 5000 рублей</span>
        </td>
        <td class="price-table__item">
          от 5 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Лечение пульпита <span class="visually-hidden">от 6000 рублей</span>
        </td>
        <td class="price-table__item">
          от 6 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Лечение периодонтита <span class="visually-hidden">от 8000 рублей</span>
        </td>
        <td class="price-table__item">
          от 8 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Отбеливание зубов <span class="visually-hidden">от 17000 рублей</span>
        </td>
        <td class="price-table__item">
          от 17 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Профессиональная чистка&#160;зубов <span class="visually-hidden">от 5000 рублей</span>
        </td>
        <td class="price-table__item">
          от 5 000 &#8381;
        </td>
      </tr>
    </table>
        <!-- протезирование под ключ -->
    <div class="price-table__heading">
      <div class="price-table__heading-wrapper">
        <h3 class="price-table__title semibold-title" tabindex="0">Протезирование (под&#160;ключ)</h3>
        <h4 class="price-table__title semibold-title">Цена(руб)</h4>
      </div>
    </div>
    <table class="price-table__table">
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Керамическая накладка <span class="visually-hidden"> 25000 рублей</span>
        </td>
        <td class="price-table__item">
          25 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Керамическая коронка <span class="visually-hidden">30000 рублей</span>
        </td>
        <td class="price-table__item">
          30 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Керамический винир <span class="visually-hidden">от 25000 рублей</span>
        </td>
        <td class="price-table__item">
         от 25 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Коронка из&#160;диоксида циркония <span class="visually-hidden"> 30000 рублей</span>
        </td>
        <td class="price-table__item">
          30 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Коронка на&#160;имплантате <span class="visually-hidden">35000 рублей</span>
        </td>
        <td class="price-table__item">
          35 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Полный съемный пластиночный&#160;протез<span class="visually-hidden">от 20000 рублей</span>
        </td>
        <td class="price-table__item">
         от 20 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Протез Квадротти<span class="visually-hidden">40000 рублей</span>
        </td>
        <td class="price-table__item">
          40 000 &#8381;
        </td>
      </tr>
      <tr class="price-table__list">
        <td class="price-table__item" tabindex="0">
          Бюгельный протез<span class="visually-hidden">40000 рублей</span>
        </td>
        <td class="price-table__item">
          40 000 &#8381;
        </td>
      </tr>
    </table>
  <div class="price-table__heading">
    <div class="price-table__heading-wrapper">
      <h3 class="price-table__title semibold-title" tabindex="0">Хирургия</h3>
      <h4 class="price-table__title semibold-title">Цена(руб)</h4>
    </div>
  </div>
  <table class="price-table__table">
    <!-- Хирургия -->
    <tr class="price-table__list">
      <td class="price-table__item" tabindex="0">
        Удаление подвижного зуба <span class="visually-hidden">от 3000 рублей</span>
      </td>
      <td class="price-table__item">
        от 3 000 &#8381;
      </td>
    </tr>
    <tr class="price-table__list">
      <td class="price-table__item" tabindex="0">
        Удаление зуба&#160;мудрости <span class="visually-hidden">от 8000 рублей</span>
      </td>
      <td class="price-table__item">
        от 8 000 &#8381;
      </td>
    </tr>
    <tr class="price-table__list">
      <td class="price-table__item" tabindex="0">
        Имплантация <span class="visually-hidden">от 30000 рублей</span>
      </td>
      <td class="price-table__item">
        от 30 000 &#8381;
      </td>
    </tr>
    <tr class="price-table__list">
      <td class="price-table__item" tabindex="0">
        Установка формирователя&#160;десны <span class="visually-hidden">5000 рублей</span>
      </td>
      <td class="price-table__item">
        5 000 &#8381;
      </td>
    </tr>
    <tr class="price-table__list">
      <td class="price-table__item" tabindex="0">
        Синус-лифтинг <span class="visually-hidden">50000 рублей</span>
      </td>
      <td class="price-table__item">
        50 000 &#8381;
      </td>
    </tr>
  </table>
</div>
</div>
