<div id="aboutUs" class="recomendation container">
  <h2 class="title recomendation__title recomendation__item">
    Нас рекоменуют
  </h2>
    <p class="recomendation__item recomendation-text">
      Мы&nbsp;заботимся о&nbsp;своих клиентах и&nbsp;предлагаем лучшие условия и&nbsp;услуги лечения.
    </p>
    <p class="recomendation__item recomendation-text">
      Для нас важна безопасность лечения.
В&nbsp;клинике используются только проверенные материалы и&nbsp;лекарства.
Все&nbsp;стерильно и&nbsp;безопасно.
    </p>
    <p class="recomendation__item recomendation-text">
      Врачи с&nbsp;большим опытом работы
и&nbsp;знаниями современных технологий сделают всё возможное для того,
чтобы&nbsp;ваша улыбка стала еще ярче
и&nbsp;здоровее.
    </p>

</div>
